<!doctype html>
<html ng-app="todoApp">

<head>
    <title>Inicio</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="js\estados.js"></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>
    <h2>Todo</h2>
    <div ng-controller="TodoListController as todoList">

        <table class="table table-striped">
            <tr ng-repeat="estado in todoList.estados">
                <td>{{estado.nombre}}</td>
                <td>{{estado.IdEstado}}</td>
                
                <td>
                    <button class="btn btn-danger" ng-click="todoList.delUsuario($index)">Eliminar</button>
                </td>
                <td>
                    <button class="btn btn-info"
                        ng-click="todoList.ModificarUsuario(estado, $index)">Modificar</button>
                </td>
            </tr>
        </table>
        <button class="btn btn-default" ng-click="todoList.nuevoUsuario()">Nuevo</button>


        <div ng-if="todoList.showFormulario">
            <button class="btn btn-default" ng-click="todoList.showFormulario = false">X</button>
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre del estado</label>
                <input type="text" class="form-control" placeholder="Nombre" ng-model="todoList.NewUserNombre" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Id del estado</label>
                <input id="codigoPuesto" type="number" name="Codigo"class="form-control" placeholder="IdEstado" ng-model="todoList.NewUserIdEstado" required>
            </div>
            

            <div ng-switch="todoList.soyAlta">
                <div ng-switch-when="true">
                    <button class="btn btn-default" ng-click="todoList.addUsuario()">Guardar</button>
                </div>
                <div ng-switch-when="false">
                    <button class="btn btn-default" ng-click="todoList.SaveModificarUsuario()">Modificar</button>
                </div>
                <div ng-switch-default>
                    Error
                </div>
            </div>




        </div>



    </div>
</body>

</html>
